<div class="alert alert-block alert-info" style="margin-top: 20px">
    <h1 align=center>Data 1202: Data Analytics Tools</h1>
    <h1 align=center>Lab 5</h1>
</div>

<h1>Introduction</h1>
<h3>Welcome!</h3>

<p>
 For the purpose of this lab is to learn different techniques to encode the categorical features to numeric quantities. To keep it simple, you will apply these encoding methods only on one column. However, the same approach can be extended to all columns.
</p>

<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
     <li><a href="#correct data format">Replacing values</a></li>
    <li><a href="#data_standardization">Encoding labels</a></li>
    <li><a href="#data_normalization">One-Hot encoding</a></li>
</ol>

</div>

In [ ]:
#Import Python Libraries
import numpy as np
import scipy as sp
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1 align=center>Part 1 : Replacing values </h1>
</div>

Let's start with the most basic method, which is just replacing the categories with the desired numbers. This can be achieved with the help of the replace() function in pandas. The idea is that you have the liberty to choose whatever numbers you want to assign to the categories according to the business use case.

In [ ]:
df = pd.read_csv('auto.csv')

In [ ]:
# To see what the data set looks like, we'll use the head() method.
df.head()

In [ ]:
#Lets list the data types for each column
df.dtypes

In [ ]:
# assign each categpry the numarical value you wish. 
#In this exmale I assign 1 to gas and 0 to diesel. We use the dictionary type in pandas to do such operation.
map_cat = {'fuel-type': {'gas': 1, 'diesel':0}}

In [ ]:
# BE SURE TO CONVERT THE COLUMN TYPE TO CATEGORY, FOR FASTER OPERATION AND BETTER PERFORMANCE.
df['fuel-type'] = df['fuel-type'].astype('category')
df['fuel-type'].dtype

In [ ]:
# Apply the replace function to get the desired result
df.replace(map_cat, inplace=False)


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1 align=center>Part 2 : Label Encoding </h1>
</div>

Another approach is to encode categorical values with a technique called "label encoding", which allows you to convert each value in a column to a number. Numerical labels are always between 0 and n_categories-1.

In [107]:
# load the data file again or clear all output cell>>all output>>clear
df1 = pd.read_csv('auto.csv')

In [108]:
# a very straight forward method is to use cat codes method 
df1['fuel-type'] = df1['fuel-type'].astype('category')
df1['fuel-type'] = df1['fuel-type'].cat.codes
df1.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,1,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,122.0,alfa-romero,1,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,122.0,alfa-romero,1,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.0,audi,1,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.0,audi,1,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450


<div class="alert alert-block alert-info" style="margin-top: 20px">
<h1 align=center>Part 3 : One-Hot encoding </h1>
</div>

In [109]:
# load the data file again or clear all output cell>>all output>>clear
df2 = pd.read_csv('auto.csv')

In [110]:
#get indicator variables and assign it to data frame "dummy_variable_1" 
dummy_variable_1 = pd.get_dummies(df2["fuel-type"])
dummy_variable_1.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [113]:
# merge data frame "df" and "dummy_variable_1" 
df3 = pd.concat([df2, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df3.drop("fuel-type", axis = 1, inplace=True)
df3.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,diesel,gas
0,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111.0,5000.0,21,27,13495,0,1
1,3,122.0,alfa-romero,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111.0,5000.0,21,27,16500,0,1
2,1,122.0,alfa-romero,std,two,hatchback,rwd,front,94.5,171.2,...,2.68,3.47,9.0,154.0,5000.0,19,26,16500,0,1
3,2,164.0,audi,std,four,sedan,fwd,front,99.8,176.6,...,3.19,3.40,10.0,102.0,5500.0,24,30,13950,0,1
4,2,164.0,audi,std,four,sedan,4wd,front,99.4,176.6,...,3.19,3.40,8.0,115.0,5500.0,18,22,17450,0,1